/*Problems:
-Nie mogę ustawić wysokości hero*/

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --main-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1352px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

header {
    width: 100vw;
    box-shadow: 0px 3px 6px #00000029;
}

.main--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.main--nav p {
    font-family: var(--main-font);
    font-size: 32px;
    color: var(--color-primary);
    font-weight: 300;
    flex-grow: 2;
    padding-left: 135px;
}

.main--nav ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 135px;
}

.main--nav li {
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 11px;
    font-weight: 700;
    color: var(--color-grey);
    letter-spacing: 0.2em;
    display: block;
    padding: 26px 0;
    border-bottom: 4px solid var(--color-white);
}

.main--nav li:hover {
    cursor: pointer;
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

/* OPENING SECTION */

.hero {
    padding-top: 130px;
    height: calc(100vh - 67px);
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 5px;
}

.hero h1 {
    font-family: var(--main-font);
    font-size: 49px;
}

.hero p {
    font-family: var(--secondary-font);
    margin-bottom: 16px;
}

.hero button {
    padding: 22px 157px;
    background-color: var(--color-primary);
    border-radius: 40px;
    border: none;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.hero button:active {
    box-shadow: 2px 2px 3px var(--color-black) inset;
}

.hero a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-weight: 700;
}

.hero img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

/*STATISTICS SECTION*/

.statistics {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.statistics_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    width: 800px;

}

.statistics h2 {
    font-family: var(--main-font);
    font-size: 36px;
    align-self: center;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: var(--main-font);
    width: 116px;
}

.logo {

    height: 63px;
    width: 63px;
    position: relative;
    border-radius: 50%;
}

.person-logo {
    background-color: var(--color-redish);
}

.person-logo img {
    position: absolute;
    left: 20px;
    top: 5px;
}

.eye-logo {
    background-color: var(--color-primary);
}

.eye-logo img {
    position: absolute;
    left: 20px;
    top: 15px;
}

.catalog-logo {
    background-color: var(--color-green);
}

.catalog-logo img {
    position: absolute;
    left: 30px;
    top: 5px;
}

.article h3 {
    font-weight: 800;
    letter-spacing: 0.3em;
    font-size: 20px;
}

.article p {
    color: var(--color-grey);
    font-size: 17px;
}













