html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1352px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

header {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  z-index: 2;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: #08A6E4;
  font-weight: 300;
  flex-grow: 2;
  padding: 17px 0 17px 135px;
  text-decoration: none;
}
@media (max-width: 900px) {
  .main-logo {
    padding-left: 50px;
  }
}
@media (max-width: 670px) {
  .main-logo {
    padding-left: 0;
  }
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 135px;
}
@media (max-width: 900px) {
  .menu {
    padding-right: 50px;
  }
}
@media (max-width: 670px) {
  .menu {
    display: none;
    flex-direction: column;
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.1607843137);
    position: absolute;
    bottom: -180px;
    left: -15px;
    width: calc(100% + 30px);
    gap: 15px;
    padding: 20px 0 30px 0;
    z-index: 1;
    background-color: #FFFFFF;
  }
}

.ref {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #A5A5A5;
  letter-spacing: 0.2em;
  display: block;
  padding: 25px 15px;
  text-decoration: none;
  border-bottom: 4px solid #FFFFFF;
}
@media (max-width: 670px) {
  .ref {
    padding: 0 0 0 15px;
  }
}

.ref:hover {
  cursor: pointer;
  color: #000000;
  border-bottom: 4px solid #08A6E4;
}
@media (max-width: 670px) {
  .ref:hover {
    border-bottom: 4px solid #FFFFFF;
  }
}

.page-burger {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
}
.page-burger span {
  width: 30px;
  height: 3px;
  background: #08A6E4;
}
@media (max-width: 670px) {
  .page-burger {
    display: flex;
  }
}

.page-burger.is-clicked span:nth-child(3) {
  display: none;
}
.page-burger.is-clicked span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.page-burger.is-clicked span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu.is-show {
  display: flex;
}

.hero {
  padding-top: 130px;
  height: calc(100vh - 67px);
  position: relative;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 5px;
}

.hero h1 {
  font-family: "Raleway", sans-serif;
  font-size: 49px;
}

.hero p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 16px;
  text-align: center;
  padding: 0 40px;
}

.open-shop {
  padding: 22px 157px;
  background-color: #08A6E4;
  border-radius: 40px;
  border: none;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  text-align: center;
}
@media (max-width: 670px) {
  .open-shop {
    padding: 26px 120px;
  }
}
@media (max-width: 400px) {
  .open-shop {
    padding: 26px 80px;
  }
}

.open-shop:active {
  box-shadow: 2px 2px 3px #000000 inset;
}

.hero a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.opening-img {
  width: 100vw;
  overflow: hidden;
}

.hero {
  overflow: hidden;
}

.hero img {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  object-fit: contain;
  max-height: 50%;
}
@media (max-width: 900px) {
  .hero img {
    width: 220%;
    transform: translateX(-28%);
  }
}

.statistics {
  padding: 121px;
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .statistics {
    padding: 50px;
  }
}

.statistics_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  width: 800px;
}

.statistics h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  align-self: center;
  text-align: center;
}

.statistics p {
  text-align: center;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 670px) {
  .articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Raleway", sans-serif;
  width: 116px;
}

.logo {
  height: 63px;
  width: 63px;
  position: relative;
  border-radius: 50%;
}

.person-logo {
  background-color: #FB3B64;
}

.person-logo img {
  position: absolute;
  left: 30px;
  top: 5px;
}

.eye-logo {
  background-color: #08A6E4;
}

.eye-logo img {
  position: absolute;
  left: 20px;
  top: 15px;
}

.catalog-logo {
  background-color: #55DFB4;
}

.catalog-logo img {
  position: absolute;
  left: 30px;
  top: 5px;
}

.article h3 {
  font-weight: 800;
  letter-spacing: 0.3em;
  font-size: 20px;
}

.article p {
  color: #A5A5A5;
  font-size: 17px;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  padding: 6% 0 10% 0;
}
@media (max-width: 990px) {
  .pricing-container {
    margin-bottom: 5%;
  }
}

.pricing-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  align-self: center;
}

.pricing-boxes {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  flex-wrap: wrap;
}
@media (max-width: 990px) {
  .pricing-boxes {
    gap: 2rem 10rem;
    padding-top: 2rem;
    margin: 0 5%;
  }
}

.pricing-article {
  padding: 2% 8% 3% 8%;
  border-radius: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}
@media (max-width: 990px) {
  .pricing-article {
    flex-direction: row;
    padding: 2% 12% 5% 13%;
    gap: 4rem;
  }
}
@media (max-width: 620px) {
  .pricing-article {
    padding: 2% 12% 7% 13%;
    gap: 1rem;
  }
}

.pricing-article div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.pricing-basic {
  border: 1px solid #FB3B64;
}

@media (max-width: 990px) {
  .pricing-basic div {
    padding-right: 12%;
  }
}

.pricing-article.pricing-prof {
  border: 1px solid #08A6E4;
  transform: scale(1.1);
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.16);
}
@media (max-width: 990px) {
  .pricing-article.pricing-prof {
    padding: 2% 6% 5% 6%;
    margin: 5%;
    gap: 8rem;
  }
}
@media (max-width: 620px) {
  .pricing-article.pricing-prof {
    padding: 2% 12% 7% 13%;
    gap: 1rem;
  }
}

.pricing-premium {
  border: 1px solid #55DFB4;
}

@media (max-width: 990px) {
  .pricing-premium div {
    padding-right: 8%;
  }
}

.pricing-boxes h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.pricing-boxes span {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
}

.pricing-basic span {
  color: #FB3B64;
}

.pricing-prof span {
  color: #08A6E4;
}

.pricing-premium span {
  color: #55DFB4;
}

.pricing-boxes p {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.pricing-boxes ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
@media (max-width: 990px) {
  .pricing-boxes ul {
    align-items: normal;
  }
}

.pricing-basic ul {
  padding-top: 3rem;
}
@media (max-width: 990px) {
  .pricing-basic ul {
    padding-top: 1rem;
  }
}

.pricing-boxes li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.ckechmark::before {
  content: url("../assets/Ckechmark-1.svg");
  margin-right: 0.4rem;
}

.close::before {
  content: url("../assets/Close.svg");
  margin-right: 0.4rem;
}

.pricing-boxes button {
  padding: 0.7rem 2rem;
  border-radius: 23px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 700;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -10%;
  left: 50%;
}
@media (max-width: 990px) {
  .pricing-boxes button {
    bottom: -17%;
    padding: 1rem 4rem;
  }
}

.pricing-boxes button:active {
  box-shadow: 2px 2px 3px #000000 inset;
}

.pricing-basic button {
  background-color: #FB3B64;
}

.pricing-prof button {
  background-color: #08A6E4;
}

.pricing-premium button {
  background-color: #55DFB4;
}

.benefits {
  background-color: #F7F7F7;
}

.benefits_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 105px 0;
  height: 100%;
}
@media (max-width: 1170px) {
  .benefits_content {
    padding: 10% 0;
  }
}

.benefits_article {
  max-width: 1124px;
  height: 370px;
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .benefits_article {
    margin: 0 8%;
  }
}
@media (max-width: 1170px) {
  .benefits_article {
    flex-direction: column;
    height: auto;
    margin: 0 18%;
    padding-top: 2%;
    align-items: center;
    border: 1px solid #dedede;
    border-radius: 5px;
  }
}

@media (max-width: 1170px) {
  .benefits_article-first {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1170px) {
  .benefits_article-second {
    padding: 2%;
  }
}

.benefits_article h3,
.benefits_article-last h3 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 1.1em;
}
@media (max-width: 1170px) {
  .benefits_article h3,
  .benefits_article-last h3 {
    padding-bottom: 6%;
    font-size: 30px;
  }
}
@media (max-width: 960px) {
  .benefits_article h3,
  .benefits_article-last h3 {
    padding-bottom: 10%;
    font-size: 30px;
  }
}

.benefits_article p,
.benefits_article-last p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
}
@media (max-width: 1170px) {
  .benefits_article p,
  .benefits_article-last p {
    max-width: 100%;
    font-size: 14px;
  }
}

.benefits_article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 90px 35px;
}
@media (max-width: 1170px) {
  .benefits_article-text {
    margin: 0 5% 5% 5%;
  }
}

.line {
  display: block;
  height: 4px;
  width: 330px;
}
@media (max-width: 1170px) {
  .line {
    display: none;
  }
}

.first-line {
  background-color: #FB3B64;
}

.second-line {
  background-color: #08A6E4;
}

.third-line {
  background-color: #55DFB4;
}

.benefits_article-text1 {
  flex: 0 0 auto;
  max-width: 416px;
}
@media (max-width: 1170px) {
  .benefits_article-text1 {
    max-width: 100%;
  }
}

.macbook-img {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2%;
  max-height: 100%;
  flex: 0 1 auto;
}
@media (max-width: 1170px) {
  .macbook-img {
    width: 80%;
    height: auto;
  }
}

.macbook-img::after {
  content: "";
  background-color: #FB3B64;
  display: block;
  width: 25%;
  height: 45%;
  position: absolute;
  transform: rotate(-45deg);
  top: 20%;
  right: 21%;
  border-radius: 41px;
}
@media (max-width: 1170px) {
  .macbook-img::after {
    width: 48%;
    height: 42%;
    top: 18%;
    right: 10%;
  }
}

.macbook-img img {
  display: block;
  width: 100%;
  height: auto;
  padding: 20%;
  padding-top: 30%;
  z-index: 1;
  max-width: 100%;
}
@media (max-width: 1170px) {
  .macbook-img img {
    padding: 10%;
  }
}

.benefits_article-text2 {
  flex: 0 0 auto;
  margin: 70px 25px;
  max-width: 416px;
}
@media (max-width: 1170px) {
  .benefits_article-text2 {
    max-width: 100%;
    margin: 5% 5% 3% 2%;
  }
}

.benefits_article-text2 h3 {
  padding-right: 100px;
}
@media (max-width: 1170px) {
  .benefits_article-text2 h3 {
    padding-right: 5%;
  }
}

.iphone-img {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2% 6%;
  flex: 0 1 auto;
}
@media (max-width: 1170px) {
  .iphone-img {
    width: 60%;
    height: auto;
    margin-left: 10%;
  }
}

.iphone-img::after {
  content: "";
  background-color: #08A6E4;
  display: block;
  width: 50%;
  height: 85%;
  position: absolute;
  border-radius: 50%;
  left: 10%;
  top: 3%;
}
@media (max-width: 1170px) {
  .iphone-img::after {
    width: 60%;
  }
}

.iphone-img img {
  width: auto;
  height: 100%;
  z-index: 1;
  max-width: 100%;
  margin-top: 2%;
  margin-left: 2%;
}

.benefits_article-last {
  max-width: 1124px;
  height: 370px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 960px) {
  .benefits_article-last {
    margin: 0 8%;
  }
}
@media (max-width: 1170px) {
  .benefits_article-last {
    flex-direction: column;
    height: auto;
    gap: 0;
    margin: 0 18%;
    border: 1px solid #dedede;
    border-radius: 5px;
  }
}

.benefits_article-last h3 {
  padding-right: 200px;
}
@media (max-width: 1170px) {
  .benefits_article-last h3 {
    padding: 5% 8% 8% 0;
  }
}

.benefits_article-text3 {
  background-color: #FFFFFF;
  height: 370px;
  margin: 0;
  flex-grow: 1;
  padding: 70px 35px;
}
@media (max-width: 1170px) {
  .benefits_article-text3 {
    padding: 5% 5%;
    height: auto;
  }
}

.trumpet-img {
  background-color: #55DFB4;
  padding: 0 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1170px) {
  .trumpet-img {
    border-radius: 5px;
    height: 17em;
  }
}
@media (max-width: 760px) {
  .trumpet-img {
    height: 13em;
  }
}

.trumpet-img img {
  height: 207px;
}
@media (max-width: 1170px) {
  .trumpet-img img {
    margin-top: 20%;
    width: 80%;
    height: auto;
  }
}

.contact_container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 960px) {
  .contact_container {
    flex-direction: column;
    align-items: center;
    padding: 0 10% 10% 10%;
  }
}
@media (max-width: 620px) {
  .contact_container {
    padding: 0 5% 10% 5%;
  }
}

.questions--contact {
  padding: 1rem 0 5rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
@media (max-width: 960px) {
  .questions--contact {
    padding: 0 5%;
    width: 100%;
    gap: 1rem;
  }
}

.questions--contact h2 {
  font-family: "Raleway", sans-serif;
  font-size: 49px;
}
@media (max-width: 960px) {
  .questions--contact h2 {
    font-size: 40px;
  }
}

.questions--contact p {
  font-family: "Open Sans", sans-serif;
}

.icons--container {
  display: flex;
  gap: 1rem;
}
@media (max-width: 960px) {
  .icons--container {
    flex-direction: column;
    padding: 7% 0 13% 0;
  }
}

.icons--container span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #A5A5A5;
}

form {
  padding: 1rem 10rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 960px) {
  form {
    padding: 0 5%;
    width: 100%;
  }
}

.form-row {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #08A6E4;
  letter-spacing: 0.2em;
}

.form-row input {
  border: none;
  border-bottom: 1px solid #A5A5A5;
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.consent {
  margin-bottom: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #A5A5A5;
}

.consent_label {
  display: flex;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  line-height: 1rem;
}

#consent + span {
  border: 1px solid #B2B2B2;
  align-self: start;
  border-radius: 4px;
  margin-right: 0.5rem;
  padding: 0.3rem 0.2rem;
  display: flex;
}

.consent img {
  opacity: 0;
}

.consent input {
  width: 0;
  height: 0;
  opacity: 0;
}

#consent:checked + span img {
  opacity: revert;
}

.form__button {
  background-color: #08A6E4;
  padding: 1rem 5rem;
  border-radius: 35px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 700;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  align-self: end;
}

.form__button:active {
  box-shadow: 2px 2px 3px #000000 inset;
}

footer {
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.1607843137);
  background-color: #F7F7F7;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.copyright h2 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #08A6E4;
  font-weight: 300;
  margin-bottom: 0.4rem;
}

.copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #A5A5A5;
}

.social--media {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
