
.benefits {
  background-color: var(--color-light-grey);
}

.benefits_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 105px 0;
}

.benefits_article {
  width: 1124px;
  height: 370px;
  display: flex;
  background-color: var(--color-white);
  justify-content: space-between;
}

.benefits_article h3,
.benefits_article-last h3 {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.1em;
}

.benefits_article p,
.benefits_article-last p {
  font-family: var(--secondary-font);
  line-height: 1.5em;
}

.benefits_article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 416px;
  margin: 90px 35px;
}

.line {
  display: block;
  height: 4px;
  width: 330px;
}

.first-line {
  background-color:var(--color-redish);
}

.second-line {
  background-color:var(--color-primary);
}

.third-line {
  background-color: var(--color-green);
}

.benefits_article-text1 {
  flex: 0 0 auto;
}

.macbook-img {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2%;
  max-width: 100%;
  flex: 0 1 auto;
}

.macbook-img::after {
  content: "";
  background-color: var(--color-redish);
  display: block;
  width: 10em;
  height: 10em;
  position: absolute;
  transform: rotate(-45deg);
  top: 21%;
  right: 21%;
  border-radius: 41px;
}

.macbook-img img {
  width: 100%;
  height: auto;
  padding: 20%;
  padding-top: 30%;
  z-index: 1;
  max-width: 100%;
}

.benefits_article-text2 {
  flex: 0 0 auto;
  margin: 70px 25px;
}

.benefits_article-text2 h3 {
  padding-right: 100px;
}

.iphone-img {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2% 6%;
  flex: 0 1 auto;
}

.iphone-img::after {
  content: "";
  background-color: var(--color-primary);
  display: block;
  width: 20em;
  height: 20em;
  position: absolute;
  border-radius: 50%;
  left: 10%;
  top: 3%;
}

.iphone-img img {
  width: auto;
  height: 100%;
  z-index: 1;
  max-width: 100%;
}

.benefits_article-last {
  width: 1124px;
  height: 370px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.benefits_article-last h3 {
  padding-right: 200px;
}

.benefits_article-text3 {
  background-color: var(--color-white);
  height: 370px;
  margin: 0;
  flex-grow: 1;
  padding: 70px 35px;
}

.trumpet-img {
  background-color: var(--color-green);
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trumpet-img img {
  height: 207px;
}