.contact_container {
  display: flex;
  justify-content: space-around;

  @media (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    padding: 0 10% 10% 10%;
  }

  @media (max-width: 620px) {
    padding: 0 5% 10% 5%;
  }
}

.questions--contact {
  padding: 1rem 0 5rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;

  @media (max-width: 960px) {
    padding: 0 5%;
    width: 100%;
    gap: 1rem;
  }
}

.questions--contact h2 {
  font-family: $main-font;
  font-size: 49px;

  @media (max-width: 960px) {
    font-size: 40px;
  }
}

.questions--contact p {
  font-family: $secondary-font;
}

.icons--container {
  display: flex;
  gap: 1rem;

  @media (max-width: 960px) {
    flex-direction: column;
    padding: 7% 0 13% 0;
  }
}

.icons--container span {
  font-family: $secondary-font;
  font-weight: 600;
  color: $color-grey;
}

.contact_form {
  padding: 1rem 10rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

  @media (max-width: 960px) {
    padding: 0 5%;
    width: 100%;
  }
}

.form-row {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 11px;
  color: $color-primary;
  letter-spacing: 0.2em;
}

.form-row input {
  border: none;
  border-bottom: 1px solid $color-grey;
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.consent {
  margin-bottom: 1.5rem;
  font-family: $secondary-font;
  font-size: 12px;
  color: $color-grey;
}

.consent_label {
  display: flex;
  cursor: pointer;
  font-family: $secondary-font;
  line-height: 1rem;
}

#consent + span {
  border: 1px solid #B2B2B2;
  align-self: start;
  border-radius: 4px;
  margin-right: 0.5rem;
  padding: 0.3rem 0.2rem;
  display: flex;
}

.consent img {
  opacity: 0;
}

.consent input {
  width: 0;
  height: 0;
  opacity: 0;
}

#consent:checked + span img {
  opacity: revert;
}

.form__button {
  background-color: $color-primary;
  padding: 1rem 5rem;
  border-radius: 35px;
  border: none;
  font-family: $secondary-font;
  font-size: 13px;
  color: $color-white;
  font-weight: 700;
  box-shadow: 5px 10px 14px $color-primary-shadow;
  align-self: end;
}

.form__button:active {
  box-shadow: 2px 2px 3px $color-black inset;
}