header {
  width: 100%;
  box-shadow: 0 3px 6px #00000029;
  z-index: 2;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.main-logo {
  font-family: $main-font;
  font-size: 32px;
  color: $color-primary;
  font-weight: 300;
  flex-grow: 2;
  padding: 17px 0 17px 135px;
  text-decoration: none;

  @media (max-width: 960px) {
    padding-left: 50px;
  }

  @media (max-width: 790px) {
    padding-left: 0;
  }
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 135px;

  @media (max-width: 960px) {
    padding-right: 50px;
  }

  @media (max-width: 790px) {
    padding-right: 0;
  }

  @media (max-width: 670px) {
    display: none;
    flex-direction: column;
    box-shadow: 0 3px 6px -3px #00000029;
    position: absolute;
    bottom: -180px;
    left: -15px;
    width: calc(100% + 30px);
    gap: 15px;
    padding: 20px 0 30px 0;
    z-index: 1;
    background-color: $color-white;
  }
}

.ref {
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 11px;
  font-weight: 700;
  color: $color-grey;
  letter-spacing: 0.2em;
  display: block;
  padding: 25px 15px;
  text-decoration: none;
  border-bottom: 4px solid $color-white;

  @media (max-width: 670px) {
    padding: 0 0 0 15px;
  }
}

.ref:hover {
  cursor: pointer;
  color: $color-black;
  border-bottom: 4px solid $color-primary;

  @media (max-width: 670px) {
    border-bottom: 4px solid $color-white;
  }
}

.page-burger {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;

  span {
    width: 30px;
    height: 3px;
    background: $color-primary;
  }

  @media (max-width: 670px) {
    display: flex;
  }
}

.page-burger.is-clicked {
  span:nth-child(3) {display: none;}
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.menu.is-show {
  display: flex;
}

