.hero {
  padding-top: 130px;
  height: calc(100vh - 67px);
  position: relative;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 5px;
}

.hero h1 {
  font-family: $main-font;
  font-size: 49px;
}

.hero p {
  font-family: $secondary-font;
  margin-bottom: 16px;
  text-align: center;
  padding: 0 40px;
}

.open-shop {
  padding: 22px 157px;
  background-color: $color-primary;
  border-radius: 40px;
  border: none;
  box-shadow: 5px 10px 14px $color-primary-shadow;
  text-align: center;

  @media (max-width: 670px) {
    padding: 26px 120px;
  }

  @media (max-width: 400px) {
    padding: 26px 80px;
  }
}

.open-shop:active {
  box-shadow: 2px 2px 3px $color-black inset;
}

.hero a {
  text-decoration: none;
  color: $color-white;
  font-family: $secondary-font;
  font-weight: 700;
}

.opening-img {
  width: 100vw;
  overflow: hidden;
}

.hero {
  overflow: hidden;
}

.hero img {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  object-fit: contain;
  max-height: 50%;

  @media (max-width: 900px) {
    width: 220%;
    transform: translateX(-28%);
  }
}